body {
    background-color: #141414;
    color: #e4e4e4;
}

section {
    background: rgb(0,187,193);
    background: linear-gradient(138deg, rgba(0,187,193,1) 0%, rgba(204,0,178,1) 100%);
    height: 100vh;
}